body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
} 

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}


.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container {

}
.bottom-container {

}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}


.pro{
    text-decoration: underline;
    
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;

}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    float: left;
    width: 25%;
    margin-right: 30px;

}